<?xml version="1.0" encoding="utf-8"?>
<Content Key="0603f990-ae12-4d6c-bac3-c887bedebc43" Alias="Migrator Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MigratorTest</Path>
    <Trashed>false</Trashed>
    <ContentType>migratorTest</ContentType>
    <CreateDate>2023-02-09T12:17:40</CreateDate>
    <NodeName Default="Migrator Test">
      <Name Culture="en-gb">Migrator Test</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="en-gb">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <cultureTest>
      <Value><![CDATA[]]></Value>
    </cultureTest>
    <mediaPicker>
      <Value><![CDATA[]]></Value>
    </mediaPicker>
    <mediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </mediaPickerLegacy>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreePicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreePicker>
    <multinodeTreePickerSingle>
      <Value><![CDATA[]]></Value>
    </multinodeTreePickerSingle>
    <multipleMediaPicker>
      <Value><![CDATA[]]></Value>
    </multipleMediaPicker>
    <multipleMediaPickerLegacy>
      <Value><![CDATA[]]></Value>
    </multipleMediaPickerLegacy>
    <multiURLPicker>
      <Value><![CDATA[]]></Value>
    </multiURLPicker>
    <nestedContent>
      <Value><![CDATA[]]></Value>
    </nestedContent>
    <newCultureProperty>
      <Value><![CDATA[]]></Value>
    </newCultureProperty>
    <newMediaPickerConvertTest>
      <Value><![CDATA[]]></Value>
    </newMediaPickerConvertTest>
    <newRenamedPropertyTest>
      <Value><![CDATA[]]></Value>
    </newRenamedPropertyTest>
    <singleURLPicker>
      <Value><![CDATA[]]></Value>
    </singleURLPicker>
    <updatedMediaPicker>
      <Value><![CDATA[]]></Value>
    </updatedMediaPicker>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
  </Properties>
</Content>