<?xml version="1.0" encoding="utf-8"?>
<Content Key="baf1fbe5-7542-4edf-a722-3fb59b38a70c" Alias="Popular blogs" Level="3">
  <Info>
    <Parent Key="1c6a6037-b7e2-436b-8dd5-ac7deea261dd">Blog</Parent>
    <Path>/Home/Blog/PopularBlogs</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-02-09T12:17:40</CreateDate>
    <NodeName Default="Popular blogs" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[]]></Value>
    </articleDate>
    <authorName>
      <Value><![CDATA[]]></Value>
    </authorName>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>