<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1d726d2-3bdb-44c5-a7ff-bba8e8e25f96" Alias="Search" Level="2">
  <Info>
    <Parent Key="85cc0c45-0f4b-43b5-bf4a-8d2136309c52">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2023-02-09T12:17:40</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c83d6394-7bef-438c-929d-892b42066b37">search</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>