<?xml version="1.0" encoding="utf-8"?>
<Content Key="20bead39-57f7-4572-91b0-151c72ac9642" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-01-09T16:48:18</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <logo>
      <Value><![CDATA[[
  {
    "key": "4acbf163-5f73-43c7-9c25-7da0f0a4036c",
    "mediaKey": "da31231d-fdbd-43df-9ab2-cf8759a4b1c5"
  }
]]]></Value>
    </logo>
  </Properties>
</Content>