<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2bf40c8-aa30-47d7-bb06-70b25879d690" Alias="XMLSitemap" Level="2">
  <Info>
    <Parent Key="85cc0c45-0f4b-43b5-bf4a-8d2136309c52">Home</Parent>
    <Path>/Home/XMLSitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>xMLSitemap</ContentType>
    <CreateDate>2023-02-09T12:17:40</CreateDate>
    <NodeName Default="XMLSitemap" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="72f84ac5-d043-4035-937f-2f0a99d6afbe">xMLSitemap</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>