<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edfb5c42-2d41-4605-a187-0edee37b162b" Alias="Member Group Picker" Level="1">
  <Info>
    <Name>Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>