<?xml version="1.0" encoding="utf-8"?>
<DataType Key="341407d2-a3b7-4fcb-be12-d410b8013808" Alias="Multinode Tree Picker - Media" Level="1">
  <Info>
    <Name>Multinode Tree Picker - Media</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "media"
  }
}]]></Config>
</DataType>