<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0ebb36e-9f95-4f72-858d-b206667fd9fb" Alias="Multinode Treepicker - Single" Level="1">
  <Info>
    <Name>Multinode Treepicker - Single</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>