<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3750bba-5dcd-4cd7-8bf3-c327a7665aa1" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>