<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c530924b-a863-45ef-b582-9ac0fa041332" Alias="migratorTest" Level="1">
  <Info>
    <Name>Migrator Test</Name>
    <Icon>icon-truck color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>57c5afae-2a2c-433c-ab67-0871edae4010</Key>
      <Name>Block List</Name>
      <Alias>blockList</Alias>
      <Definition>90f4d440-c942-467b-bfec-fd0feafcf92d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee4d6291-b76a-4f22-a259-9a6aa67bbbd3</Key>
      <Name>Content Picker</Name>
      <Alias>contentPicker</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fee6fd9f-4c2b-4ce6-96dc-22c94ef21371</Key>
      <Name>Culture Test</Name>
      <Alias>cultureTest</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7134531-6f4c-417a-b6dc-a3963bc9b77b</Key>
      <Name>Date Picker</Name>
      <Alias>datePicker</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4feea798-6217-42f0-9c65-5c0a6a356786</Key>
      <Name>Date Picker with Time</Name>
      <Alias>datePickerWithTime</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42c817b1-0202-4534-ad79-15a725eba083</Key>
      <Name>Media Picker</Name>
      <Alias>mediaPicker</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ce2c1d2-32b2-4bea-83e6-e0937792c67e</Key>
      <Name>Media Picker (Legacy)</Name>
      <Alias>mediaPickerLegacy</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>903f6263-6234-4782-bf7e-fe44a1078803</Key>
      <Name>Member Group Picker</Name>
      <Alias>memberGroupPicker</Alias>
      <Definition>edfb5c42-2d41-4605-a187-0edee37b162b</Definition>
      <Type>Umbraco.MemberGroupPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8fb4ed2-984e-42d9-bad2-72bc7f0312f1</Key>
      <Name>Member Picker</Name>
      <Alias>memberPicker</Alias>
      <Definition>1ea2e01f-ebd8-4ce1-8d71-6b1149e63548</Definition>
      <Type>Umbraco.MemberPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fafb6162-b8e6-42dc-b07c-b0c19f39b346</Key>
      <Name>Multinode Tree Picker</Name>
      <Alias>multinodeTreePicker</Alias>
      <Definition>4b475fad-6541-4f39-8960-2244e6857445</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>392f3bf6-8c96-4186-839b-9f73fd7f1a3e</Key>
      <Name>Multinode Tree Picker (Media)</Name>
      <Alias>multinodeTreePickerMedia</Alias>
      <Definition>341407d2-a3b7-4fcb-be12-d410b8013808</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f82753ae-4213-4cdd-8919-e912e303d45e</Key>
      <Name>Multinode Tree Picker (Single)</Name>
      <Alias>multinodeTreePickerSingle</Alias>
      <Definition>c0ebb36e-9f95-4f72-858d-b206667fd9fb</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba6f27e6-1a9e-4200-ae4e-6645eec90647</Key>
      <Name>Multiple Media Picker</Name>
      <Alias>multipleMediaPicker</Alias>
      <Definition>1b661f40-2242-4b44-b9cb-3990ee2b13c0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55b5af7f-01fa-405a-b158-4bf4aa61f87d</Key>
      <Name>Multiple Media Picker (Legacy)</Name>
      <Alias>multipleMediaPickerLegacy</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7231585-8eaa-4373-aba9-08650f2afae0</Key>
      <Name>Multi URL Picker</Name>
      <Alias>multiURLPicker</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1dd79663-9879-4199-b910-2096f99a2eac</Key>
      <Name>Nested Content</Name>
      <Alias>nestedContent</Alias>
      <Definition>1a7853a1-edff-49d2-be88-0a1ad3979435</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b8c62d32-6166-4438-9218-ff999828e201</Key>
      <Name>New Culture Property</Name>
      <Alias>newCultureProperty</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c45b86b1-72d1-48be-afe9-7ff526c4982a</Key>
      <Name>New Media Picker Convert Test</Name>
      <Alias>newMediaPickerConvertTest</Alias>
      <Definition>1b661f40-2242-4b44-b9cb-3990ee2b13c0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[I used to be legacy MediaPicker!]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="propertiesToBeCustomMapped">Properties to be Custom Mapped</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2da04c49-a0c5-44e7-8042-d47574ba8804</Key>
      <Name>New Renamed Property Test</Name>
      <Alias>newRenamedPropertyTest</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="propertiesToBeCustomMapped">Properties to be Custom Mapped</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49e20d29-06af-4874-97e1-cc5aadf4dcc5</Key>
      <Name>Rich Text</Name>
      <Alias>richText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab2c7319-c13b-4ed0-a38b-044c44ea27a0</Key>
      <Name>Single URL Picker</Name>
      <Alias>singleURLPicker</Alias>
      <Definition>2d350d21-51dd-4c36-8eee-18170985ce91</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe6bc923-2a77-41d5-b7f8-90c22db667bd</Key>
      <Name>UpdatedMediaPicker</Name>
      <Alias>updatedMediaPicker</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[I was legacy, but now I'm MediaPicker3! (same alias)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="autoMapConvertTest">Auto Map Convert Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81dd8bbc-b99d-4860-8ee8-26f05a9e1ef0</Key>
      <Name>User Picker</Name>
      <Alias>userPicker</Alias>
      <Definition>c3750bba-5dcd-4cd7-8bf3-c327a7665aa1</Definition>
      <Type>Umbraco.UserPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08bfcfa3-c9a5-4b4a-a769-03a366f7cf1d</Key>
      <Caption>Properties</Caption>
      <Alias>properties</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>1c306a9c-92c2-44a9-b2c0-25a480c628a1</Key>
      <Caption>Pickers</Caption>
      <Alias>pickers</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ad30cf3c-491c-404d-872f-b0bb19fdd60c</Key>
      <Caption>Properties to be Custom Mapped</Caption>
      <Alias>propertiesToBeCustomMapped</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>c0961209-a22a-4d60-b8ae-f36f37108001</Key>
      <Caption>Auto Map Convert Test</Caption>
      <Alias>autoMapConvertTest</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>